* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* body::-webkit-scrollbar {
    display: none;
  } */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #45a29e;
  border-radius: 10px;
}

#page-container {
  background-color: #ffffff;
  background: url("../assets/background.jpg") center top;
  background-size: cover;
  width: 100%;
  /* background:  pink; */
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  animation-name: transLate;
  animation-duration: 1s;
  z-index: 999;
}

@keyframes transLate {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

.my_logo:hover {
  color: #45a29e;
  transition-duration: 1s;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

a.left {
  position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.nav_links li a:hover {
  color: #45a29e;
}

#first-section-wrapper {
  height: 100vh;
  padding: 5% 4% 5% 4%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition-duration: 1000ms;
  /* background-color: aquamarine; */
}

.div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  /* background: gray; */
}

#user-image {
  /* background-color: palevioletred; */
  width: 100%;
  height: auto;
}

.typewriter {
  width: 50%;
  /* background-color: pink; */
}

.hi-there-text {
  color: #ffffff;
  background: -webkit-linear-gradient(#eee, #888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7vw;
}

#app {
  color: #45a29e;
  width: 100%;
  font-size: 3vw;
  text-align: center;
}

.first-slide-connect {
  margin-top: 22%;
  border: 2px solid #ffffff;
  border-radius: 12px;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* background: orange; */
}

.first-slide-connect:hover {
  transition-duration: 1s;
  border-color: #45a29e;
}

.fafa i.fa {
  font-size: 30px !important;
  padding: 8px;
  color: #45a29e;
}

.fafa i.fa:hover {
  color: #fff;
  transform: scale(1.1);
}

.footer {
  color: #fff;
  width: 100%;
  height: 3rem;
  background: #45a29e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heart-symbol {
  font-size: 22px;
  color: red;
  position: relative;
  animation: pulse 1s ease infinite;
  transform: translateY(-6%);
}

/* About Section */

#skills-section {
  background-color: lightseagreen;
}

#second-section-wrapper {
  min-height: 100vh;
  height: auto;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  /* background-color: tomato; */
}

.skills-text-wrapper {
  /* background-color: tomato; */
  width: 300px;
}

#skills-text {
  font-size: 7vw;
  color: white;
}

.skills-section-wrapper {
  width: 60%;
  height: auto;
  background-color: tomato;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(11, 35, 22, 0.5);
  transition: all 0.4s ease-in-out;
}

.skills-section-wrapper:hover {
  transform: translate(0.5vw, 0.5vh);
  box-shadow: 0 30px 10px -10px rgba(11, 35, 22, 0.5);
}

.skills-section-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart {
  position: relative;
  display: inline-block;
  margin: 10px 5px;
  color: #999;
  font-size: 14px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#go-to-top-button-container {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2%;
}

.fa-angle-up {
  color: #fff;
  font-size: 3vw;
}

.fa-angle-up:hover {
  color: yellow;
}

@media (max-width: 860px) {
  #first-slide-wrapper {
    padding: 10% 4% 0% 4%;
  }
  .div-wrapper {
    padding-top: 30px;
    margin: 0;
  }
  .hi-there-text {
    color: #ffffff;
    font-size: 8vw;
    /* background-color: lightgreen; */
  }
  #app {
    font-size: 5vw;
  }
  .typewriter {
    width: 100%;
  }
  .first-slide-connect {
    margin-top: 6%;
  }
  .skills-section-wrapper {
    width: 90%;
  }
}
